@use 'sizes';

.root {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: sizes.$max-width;
	min-height: sizes.$content-height;
	margin: 0 auto;
	padding: sizes.$padding;
}

.title {
	text-align: center;
	font-size: 80px;
	font-weight: 900;
	color: white;
}
