.root {
	padding: 8px 12px;
	text-decoration: none;
	font-size: 16px;
	font-weight: 900;
	color: white;
	background: transparent;
	border: 1px solid #333;
	border-radius: 8px;
	transition: transform 0.3s;
	
	&:hover {
		transform: translateY(-2px);
	}
}
