.title {
	font-weight: 900;
	color: white;
	opacity: 0.7;
}

.name {
	display: block;
	max-width: max-content;
	overflow: hidden;
	text-overflow: ellipsis;
	text-decoration: none;
	white-space: nowrap;
	font-size: 32px;
	font-weight: 900;
	color: white;
	
	&:hover {
		text-decoration: underline;
	}
}

.nameInput,
.descriptionInput,
.saveButton {
	margin-top: 20px;
}
